body {

    padding: 40px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.p3-container {

    width: 80%;
    margin: 0 auto;
}

.p3-sidenav {

    width: 250px;
    height: calc(100% - 80px);
    position: fixed;
    background: #fff;
    border-radius: 12px 0px 0px 12px;
    border-right: 1px solid #dfe2e6;
}

.p3-sidenav__mobile {

    width: 250px;
    height: calc(100%);
    top: 0;
    z-index: 99;
    left: -250px;
    position: fixed;
    background: #fff;
    border-radius: 0px;
    box-shadow: 00px 0px 00px 0px rgba(0, 0, 0, 0);
    transition-duration: 500ms;
}

.p3-main {

    /* background-color: #f6f6fc; */
    /* position: fixed; */
    /* width: calc(100vw - 340px); */
    /* height: calc(100vh - 80px); */
    margin-left: 250px;
    border-radius: 0px 12px 12px 0px;
}

.p3-product__item {

    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0fr 1fr 1fr 3fr 0fr;
}

.p3-inventory__title {

    font-weight: 500;
    font-size: 26px;
    padding-left: 20px;
    padding-top: 20px;
}

.p3-inventory__desc {

    padding-left: 20px;
    font-weight: 300;
    color: #525252;
}

.p3-logo {

    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 70px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    margin-bottom: 20px;
}

.p3-search__input {

    border-left: 1px solid #dfe2e6;
    border-top: 1px solid #dfe2e6;
    border-bottom: 1px solid #dfe2e6;
    border-right: 1px none;
    border-radius: 12px 0px 0px 12px;
    padding: 10px;
    margin-left: 20px;
    width: 145px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #525252;
}

.p3-search__input:focus {

    outline: none;
}

.p3-search__btn {

    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background: none;
    border-radius: 0px 12px 12px 0px;
    border-right: 1px solid #dfe2e6;
    border-top: 1px solid #dfe2e6;
    border-bottom: 1px solid #dfe2e6;
    border-left: 1px none;
    transform: translate(-4px, 0px);
    color: #d0d4d9;
    cursor: pointer;
}

.p3-search__btn:focus {

    outline: none;
}

.p3-search__btn:hover {

    color: #a8adb3;
}

.p3-search__btn:active {

    color: black;
}

.p3-spacer {

    margin: 20px;
}

.p3-sidenav__btn {

    display: block;
    padding: 10px 10px 10px 0;
    border-radius: 12px;
    width: 190px;
    margin-left: 20px;
    height: 20px;
    border: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #d0d4d9;
    transition-duration: 0ms;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.p3-icon {

    padding-left: 20px;
    padding-right: 10px;
    color: #b4b9bf;

}

.p3-sidenav__btn:hover {

    transition-duration: 0ms;
    margin-left: 20px;
    border: none;
    background: #f6f6fc;
    color: black;
}

.p3-sidenav__btn:hover i {

    color: #3895e0;
}

.p3-sidenav__btn:focus {

    outline: none;
    background: #3a94de;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.p3-sidenav__btn:focus i {

    color: white;

}

.p3-mobile {

    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
    display: none;
}

.p3-small-logo {

    text-align: left;
    font-size: 34px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 14px;
}

.p3-mobile__btn,
#p3-product__btn {

    height: 35px;
    float: right;
    margin-right: 0px;
    border: none;
    border-radius: 12px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    color: white;
    font-size: 18px;
    padding: 8px 10px;
}

#p3-product__btn {

    margin: 20px;
}

.p3-menu__btn:focus {

    outline: none;
}

.p3-menu__btn:hover {

    background: black;
}

.p3-menu__btn:active {

    background: #3a94de;
    color: black;
}

.p3-mobile__holder {

    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

.p3-product__itemnum {

    padding: 15px;
    color: gray;
    font-weight: 300;
}

.p3-product__itemtitle {

    padding: 15px;
    padding-bottom: 15px;
    color: black;
    min-width: 80px;
}

.p3-product__itemprice {

    padding: 15px;
    padding-bottom: 15px;
    color: #319959;
    min-width: 80px;
}

.p3-product__itemstock {

    padding: 15px;
    padding-bottom: 15px;
    color: black;
    font-weight: 300;
}

.p3-product__itemcontainer {

    width: 90px;
    background: none;
}

.p3-product__itembtn {

    float: right;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    border-radius: 12px;
    border: none;
}

.p3-noproducts .p3-product__item {

    grid-template-columns: 5fr 0fr 0fr 0fr 0fr;
}

.p3-noproducts__message,
.p3-product__load {

    padding: 15px;
}

.p3-form__container {

    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.p3-form__container h1 {

    margin-top: 0;
}

.p3-form__container label {

    display: block;
    margin-top: 10px;
    color: #666;
    font-weight: bold;
}

.p3-form__container input[type="text"],
.p3-form__container input[type="number"],
.p3-form__container input[type="date"],
.p3-form__container select {

    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.p3-form__container button {

    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.p3-form__container button:hover {

    background-color: #45a049;
}

#p3-images-container {

    width: 100%;
}

#p3-images-container .p3-image__wrapper {

    width: 60px;
    float: left;
    margin: 10px;
}

#p3-images-container .p3-image__wrapper img {

    width: 60px;
}

#p3-image {

    display: none;
}

.label-for-image {

    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}

.label-for-image:hover {

    background-color: grey;
}

/* Stil für den Dateinamen-Text */
.file-name {

    margin-left: 10px;
    font-family: Arial, sans-serif;
}

.p3-copy {

    margin: 20px auto;
    color: #333333;
    text-align: center;
}

@media (max-width: 1160px) {

    body {

        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .p3-sidenav {

        height: 100%;
        border-radius: 0px;
    }

    .p3-main {

        height: 100%;
        width: calc(100% - 250px);
        border-radius: 0px;
    }
}

@media (max-width: 780px) {

    body {

        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .p3-sidenav {

        height: 100%;
        border-radius: 0px;
        left: -251px;
    }

    .p3-main {

        height: 100%;
        width: calc(100%);
        border-radius: 0px;
        margin-left: 0px;
    }

    .p3-mobile {

        background: #fff;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
        display: block;
    }

    .p3-product__item {

        grid-template-columns: 0fr 1fr 0fr;
    }

    .p3-product__itemprice {

        display: none;
    }

    .p3-product__itemstock {

        display: none;
    }

    .p3-product__itembtn {

        margin-top: 5px;
        margin-right: 5px;
    }
}