* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.p3-container {

    width: 80%;
    margin: 0 auto;
}

.p3-header {

    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    display: block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.p3-header .p3-logo {

    float: left;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.p3-header .p3-nav {

    float: right;
    padding: 15px;
}

.p3-header .p3-nav .p3-nav__list {

    list-style-type: none;
    padding: 0;
}

.p3-header .p3-nav .p3-nav__list .p3-nav__listitem {

    display: inline-block;
    margin-right: 20px;
}

.p3-header .p3-nav .p3-nav__list .p3-nav__listitem .p3-nav__link {

    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.p3-cart,
.p3-account {

    position: relative;
}

.p3-header .p3-cart__dropdown {

    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 300px;
    right: 0px;
    border: 1px solid #ccc;
}

.p3-cart__dropdown h3 {

    padding: 20px 10px 10px;
}

.p3-header .p3-cart:hover .p3-cart__dropdown {

    display: block;
}

.p3-cart__dropdown .p3-cart__items {

    list-style: none;
    padding: 10px;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.p3-cart__dropdown .p3-cart__items li {

    border-top: 1px solid #eee;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.p3-cart__dropdown .p3-cart__items img {

    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.p3-cart__dropdown .p3-btn__checkout {

    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
}

.p3-account-dropdown {

    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    right: 0px;
    z-index: 1000;
    padding: 10px;
    border: 1px solid #ccc;
}

.p3-account-dropdown h3 {

    margin: 10px auto 15px;
}

.p3-header .p3-account:hover .p3-account-dropdown {

    display: block;
}

.p3-account-dropdown form {

    margin: 0px;
}

.p3-account-dropdown label {

    display: block;
    margin-bottom: 5px;
}

.p3-account-dropdown input[type="text"],
.p3-account-dropdown input[type="password"] {

    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.p3-account-dropdown button {

    width: 100%;
    padding: 5px 0;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.p3-account-dropdown button:hover {

    background-color: #000;
}

.p3-mobile {

    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
    display: none;
}

.p3-mobile__holder {

    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

.p3-logo {

    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 70px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0px;
}

.p3-small-logo {

    text-align: left;
    font-size: 34px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 14px;
}

.p3-main {

    margin-top: 100px;
    margin-bottom: 50px;
}

.p3-section {

    padding: 20px;
    margin-top: 20px;
}

.p3-footer {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.p3-sidenav {

    width: 250px;
    height: calc(100% - 80px);
    position: fixed;
    background: #fff;
    border-radius: 12px 0px 0px 12px;
    border-right: 1px solid #dfe2e6;
}

.p3-sidenav__mobile {

    width: 250px;
    height: calc(100%);
    top: 0;
    z-index: 99;
    left: -250px;
    position: fixed;
    background: #fff;
    border-radius: 0px;
    box-shadow: 00px 0px 00px 0px rgba(0, 0, 0, 0);
    transition-duration: 500ms;
}

.p3-sidenav__btn {

    border-radius: 12px;
    text-align: left;
    margin-left: 20px;
    width: 210px;
    height: 40px;
    border: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #d0d4d9;
    transition-duration: 0ms;
    cursor: pointer;
}

.p3-menu__btn:focus {

    outline: none;
}

.p3-menu__btn:hover {

    background: black;
}

.p3-menu__btn:active {

    background: #3a94de;
    color: black;
}

.p3-mobile__btn {

    height: 35px;
    float: right;
    margin-right: 0px;
    border: none;
    border-radius: 12px;
    background: -webkit-linear-gradient(#4d4d4d, #171717);
    color: white;
    font-size: 18px;
    padding: 8px 10px;
}

.p3-btn {
    width: 100%;
    padding: 5px 0;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.p3-search__input {

    border-left: 1px solid #dfe2e6;
    border-top: 1px solid #dfe2e6;
    border-bottom: 1px solid #dfe2e6;
    border-right: 1px none;
    border-radius: 12px 0px 0px 12px;
    padding: 10px;
    margin-left: 20px;
    width: 145px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #525252;
}

.p3-search__input:focus {

    outline: none;
}

.p3-search__btn {

    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background: none;
    border-radius: 0px 12px 12px 0px;
    border-right: 1px solid #dfe2e6;
    border-top: 1px solid #dfe2e6;
    border-bottom: 1px solid #dfe2e6;
    border-left: 1px none;
    transform: translate(-4px, 0px);
    color: #d0d4d9;
    cursor: pointer;
}

.p3-search__btn:focus {

    outline: none;
}

.p3-search__btn:hover {

    color: #a8adb3;
}

.p3-search__btn:active {

    color: black;
}

.p3-product__list {

    display: flex;
    flex-wrap: wrap;
}

.p3-product {

    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.p3-product img {

    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
}

.p3-login {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p3-login h2 {
    margin-bottom: 20px;
    color: #333;
}

.p3-form-group {
    margin-bottom: 20px;
    text-align: left;
}

.p3-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.p3-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.p3-login button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.p3-login button:hover {
    background-color: #000000;
}

.p3-jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.p3-jumbotron h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.p3-jumbotron p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.p3-jumbotron .btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

@media (min-width: 768px) {

    .p3-product {

        width: 25%;
    }
}

@media (max-width: 1160px) {

    body {

        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .p3-sidenav {

        height: 100%;
        border-radius: 0px;
    }

    .p3-main {

        border-radius: 0px;
    }
}

@media (max-width: 780px) {

    body {

        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    .p3-header {

        display: none;
    }

    .p3-sidenav {

        height: 100%;
        border-radius: 0px;
        left: -251px;
    }

    .p3-logo {

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .p3-main {

        border-radius: 0px;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .p3-mobile {

        background: #fff;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
        display: block;
    }

    .p3-product {

        margin: 10px 0;
    }
}